.container {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.input-title, .input-text {
  width: 100%;
}

.button {
  align-self: flex-end;
}

.product-title {
  cursor: pointer;
}

.product-title~div {
  display: none;
}

.active~div {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 800;
  padding: 30px 0;
}